Makefile
Makefile.old
Build
Build.bat
META.*
MYMETA.*
.build/
_build/
cover_db/
blib/
inc/
.lwpcookies
.last_cover_stats
nytprof.out
pod2htm*.tmp
pm_to_blib
Text-Amuse-*
Text-Amuse-*.tar.gz
*~
t/testfiles/build/*
examples/*
!examples/manual.muse
!examples/logo.png
t/beamer/*
